<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On
    
    # Cegah loop jika URL sudah mengarah ke public
    RewriteCond %{REQUEST_URI} !^/public/
    
    # Arahkan semua trafik (termasuk file build React) ke folder public
    RewriteRule ^(.*)$ /public/$1 [L,QSA]
</IfModule>